<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }} : UUID Registry</title>
        <link rel="shortcut icon" href="../favicon.ico" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../shared/main.css" rel="stylesheet" />
    </head>
    <body>
        <!-- START: Header -->
        <div data-widget-url="shared/partial-header.html" data-widget-mode="replace"></div>
        <!-- END: Header -->
        
        <!-- START: Content -->
        {{ content }}
        <!-- END: Content -->
        
        <!-- START: Header -->
        <div data-widget-url="shared/partial-footer.html" data-widget-mode="replace"></div>
        <!-- END: Header -->

        <!-- START: Scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css""></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="../shared/js/config.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/lesichkovm/web@2.0.0/initialize.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/gh/lesichkovm/cell@1.5.0/cell.js"></script> -->
        <script src="https://cdn.jsdelivr.net/gh/lesichkovm/webicons@v1.4.0/webicons.ionicons.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/gh/lesichkovm/webicons@v1.4.0/webicons.fontawesome.js"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/gh/lesichkovm/webicons@v1.4.0/webicons.typicons.js"></script> -->
        <script src="https://cdn.jsdelivr.net/gh/lesichkovm/webicons@v1.4.0/webicons.runtime.js"></script>
        <!-- END: Scripts -->

        <!-- START: StatCounter -->
        <!-- <script src="shared/js/statcounter.js"></script> -->
        <!-- END: StatCounter -->

        <script>
            $(function(){
                if ($$.getUser() !== null) {
                    $$.to('user/home.html');
                }
            });
        </script>
    </body>
</html>